html, body {
  height: 100%;
  color: #fff;
}
body {
  background: black;
  text-align: center;
}
amp-img {
  background-color: lightgrey;
  border: 1px solid #fff;
}
.avatar {
  display: block;
  margin: 0 auto;
}
.link-list {
  display: block;
  font-size: 20px;
  list-style-type: none;
}
.link-list li {
  display: inline-block;
}
.link-img {
  background: #fff;
  height: 100px;
  width: 100px;
}
