html,
body {
  height: 100%;
  color: #fff;
}
body {
  background: black;
  text-align: center;
}
amp-img {
  background-color: lightgrey;
  border: 1px solid #fff;
  border-radius: 50%;
}
.avatar {
  display: block;
  margin: 0 auto;
}
.link-list {
  display: block;
  font-size: 20px;
  list-style-type: none;
  padding-inline-start: unset;
}
.link-list li {
  display: inline-block;
}
.link-img {
  background: #fff;
  height: 100px;
  width: 100px;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
}

.glitch {
  color: white;
  font-size: 40px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(87px, 9999px, 21px, 0);
  }
  5% {
    clip: rect(61px, 9999px, 85px, 0);
  }
  10% {
    clip: rect(88px, 9999px, 60px, 0);
  }
  15% {
    clip: rect(63px, 9999px, 77px, 0);
  }
  20% {
    clip: rect(40px, 9999px, 33px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 27px, 0);
  }
  30% {
    clip: rect(62px, 9999px, 84px, 0);
  }
  35% {
    clip: rect(51px, 9999px, 82px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(3px, 9999px, 16px, 0);
  }
  50% {
    clip: rect(94px, 9999px, 51px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 55px, 0);
  }
  60% {
    clip: rect(20px, 9999px, 14px, 0);
  }
  65% {
    clip: rect(18px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(58px, 9999px, 12px, 0);
  }
  75% {
    clip: rect(53px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(80px, 9999px, 72px, 0);
  }
  85% {
    clip: rect(57px, 9999px, 100px, 0);
  }
  90% {
    clip: rect(67px, 9999px, 63px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 28px, 0);
  }
  100% {
    clip: rect(42px, 9999px, 2px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(27px, 9999px, 97px, 0);
  }
  5% {
    clip: rect(57px, 9999px, 79px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 6px, 0);
  }
  15% {
    clip: rect(95px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(71px, 9999px, 76px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 53px, 0);
  }
  30% {
    clip: rect(58px, 9999px, 71px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 64px, 0);
  }
  40% {
    clip: rect(65px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(26px, 9999px, 67px, 0);
  }
  50% {
    clip: rect(9px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(13px, 9999px, 38px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 48px, 0);
  }
  65% {
    clip: rect(9px, 9999px, 5px, 0);
  }
  70% {
    clip: rect(81px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(36px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(41px, 9999px, 89px, 0);
  }
  85% {
    clip: rect(82px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(3px, 9999px, 21px, 0);
  }
  95% {
    clip: rect(98px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 90px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
