on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Node.js ubuntu-latest 12.x
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: |
            yarn
            yarn build
            git checkout gh-pages
            git status
            CHANGED=$(git diff-index --name-only HEAD --)
            echo "CHANGED=${CHANGED}."
            if [ ! -z "$CHANGED" ]; then
              git config --global user.email "shisama07@gmail.com"
              git config --global user.name "Masashi Hirano"
              git commit -am "docs"
              git push origin gh-pages
            fi